.demo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: min(100%, 800px);

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;

        fieldset {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    .result {
        width: 100%;
        min-height: 200px;
        padding: 12px 20px;
        background: black;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

