services:
  db:
    image: postgres:18
    container_name: netstone-api-db
    restart: unless-stopped
    volumes:
      - api_data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=netstone-api
      - POSTGRES_USER=netstone-api
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d netstone-api -U netstone-api" ]
      interval: 5s
      timeout: 4s
      retries: 5

  api:
    image: ghcr.io/tawmy/netstone.api:4.0.1
    container_name: netstone-api
    restart: unless-stopped
    environment:
      ASPNETCORE_ENVIRONMENT:
      LOGGING__LOGLEVEL__DEFAULT: Information
      LOGGING__LOGLEVEL__ASPNETCORE: Warning
      LOGGING__LOGLEVEL__MICROSOFT.ENTITYFRAMEWORKCORE: Warning
      OTEL_DOTNET_EXPERIMENTAL_ASPNETCORE_DISABLE_URL_QUERY_REDACTION: true
      FFXIV_TOTAL_MINIONS: 559 # values taken from ffxiv collect (https://ffxivcollect.com)
      FFXIV_TOTAL_MOUNTS: 329 # values taken from ffxiv collect (https://ffxivcollect.com)
      DATA_PROTECTION_CERTIFICATE: /mnt/cert/data-protection
      AUTH_AUDIENCE: netstone-api
      AUTH_AUTHORITY: https://ffxiv.id/realms/eorzea
      SWAGGER_SCOPES: netstone-api
      CONNECTION_STRING: Host=db;Database=netstone-api;Username=netstone-api;Password=${DB_PASSWORD}
      METRICS_ENABLED: true