<footer>
    <a href="https://tawmy.dev">Tawmy</a>
    <div>•</div>
    <a href="@SourceCodeUrl">Source Code</a>
</footer>

@code
{
    /// <summary>
    /// Link to repository hosting code.
    /// </summary>
    [Parameter] public required string SourceCodeUrl { get; set; }
}
