@inherits LayoutComponentBase

<main>
    @Body
</main>

<footer>
    <a href="https://tawmy.dev">Tawmy</a>
    <div>•</div>
    <a href="https://github.com/Tawmy/NetStone.Api">Source Code</a>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>